discord.py==2.3.2
psutil==5.9.6
Telethon==1.33.1
PyYAML==6.0.1
pydantic==2.5.2
aiofiles==23.2.1
click==8.1.7
fastapi==0.105.0
openai==1.3.9
uvicorn[standard]==0.24.0.post1
ulid-py==1.1.0
python-magic==0.4.27
