discord.py==2.5.2
psutil==7.0.0
Telethon==1.40.0
PyYAML==6.0.2
pydantic==2.11.7
aiofiles==24.1.0
click==8.2.1
fastapi==0.116.1
openai==1.99.9
uvicorn[standard]==0.35.0
ulid-py==1.1.0
python-magic==0.4.27
python-multipart==0.0.20
Levenshtein==0.27.1
nltk==3.9.1
